# macOS 
.DS_Store

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
.build/
/*.xcodeproj

# For local development
github_token.txt
Cartfile*
Pods
*LicensePlist.Output
!Cartfile*.swift
!Pods*.swift
test_result_dir
/.history
