{
    "schemaVersion": "1.0",
    "artifacts": {
        "license-plist": {
            "version": "__VERSION__",
            "type": "executable",
            "variants": [
                {
                    "path": "license-plist__VERSION__-macos/bin/license-plist",
                    "supportedTriples": ["x86_64-apple-macosx", "arm64-apple-macosx"]
                }
            ]
        }
    }
}
